// app global css in Sass form
@font-face
  font-family: ProximaThin
  src: url('~assets/fonts/ProximaNovaExCn-Thin.ttf') format("truetype")

@font-face
  font-family: ProximaThinItalic
  src: url('~assets/fonts/ProximaNovaExCn-ThinIt.ttf') format("truetype")

  /* width */
::-webkit-scrollbar
  width: 6px
/* Track */
::-webkit-scrollbar-track
  background: #c5c5c5
/* Handle */
::-webkit-scrollbar-thumb
  background: #555
/* Handle on hover */
::-webkit-scrollbar-thumb:hover
  background: #fff

#q-app
  background: no-repeat url('~assets/img/naboo.jpg') fixed